.signinButton {
  background-color: #ffffff;
  border-color: #3c71ff;
  height: 60px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.signinButton:hover .signinFont {
  color: #ffffff;
}

.signinButton:hover .signinIcon {
  color: #ffffff !important;
}

.signinButton:hover {
  background-color: #3c71ff;
  box-shadow: 3px 5px 5px #d5e0ff;
}

.signinIcon {
  font-size: 30px !important;
  padding-right: 20px !important;
  color: #3c71ff !important;
}

.signinFont {
  font-size: 17px;
  font-weight: 600;
}
